.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    background-color: #ffffff;
  }
  
  .navbar-brand img {
    height: 50px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links li {
    margin: 0 1rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: rgb(0, 0, 0); 
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    color: #000000; 
  }
  
  .navbar-login a {
    text-decoration: none;
    color: rgb(0, 0, 0); 
    font-weight: bold;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .navbar-login a:hover {
    background-color: #444; 
    border-color: #444; 
  }
  
  .profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  
  .user-initial {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white; 
    color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  
  .logo{
    height: 800px;
   
  }

  
  