.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.login-container h2 {
  text-align: center;
  color: #fff;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  color: #fff;
  margin-bottom: 10px;
}

.login-container input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.login-container button[type="submit"] {
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-container button[type="submit"]:hover {
  background-color: #45a049;
}

.google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  color: #757575;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

.google-login-button img {
  width: 20px; 
  height: 20px; 
  margin-right: 10px;
}

.google-login-button:hover {
  background-color: #f1f1f1;
}

.login-container p {
  text-align: center;
  color: #fff;
}

.login-container p a {
  color: #1e90ff;
}

.login-container p a:hover {
  text-decoration: underline;
}
